<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Редактирование главной страницы пользователя
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse {{showEditWelcomePage}}" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="jumbotron textapp">
          <button class="btn btn-link right" (click)="openHeaderEditBox()"><i class="fa fa-wrench"></i>Изменить текст заголовка</button>
          <h1 class="display-5 text-center" *ngIf="header; else emptyHeader">{{header}}</h1>
          <ng-template #emptyHeader><span class="text-muted">/*Здесь будет заголовок. Сейчас он пуст*/</span></ng-template>
          <div class="form-group {{display}}" >
            <label for="headerEditor">Содержание заголовка</label>
            <textarea class="form-control" id="headerEditor" rows="1" [(ngModel)]="header"></textarea>
            <br/>
            <button type="button" class="btn btn-success" (click)="saveNewHeader()">Сохранить</button>
            <button type="button" class="btn btn-secondary" (click)="revertHeader()">Отменить</button>
          </div>
          <hr class="my-4">
          <button class="btn btn-link right" (click)="openBodyEditBox()"><i class="fa fa-wrench"></i>Изменить текст заголовка</button>
          <p class="display-5 text-center" *ngIf="body; else emptyBody">{{body}}</p>
          <ng-template #emptyBody><p class="text-muted">/*Здесь будет текст.*/</p></ng-template>
          <div class="form-group {{displayBody}}" >
            <label for="bodyEditor">Текст</label>
            <textarea class="form-control" id="bodyEditor" rows="4" [(ngModel)]="body"></textarea>
            <br/>
            <button type="button" class="btn btn-success" (click)="saveNewBody()">Сохранить</button>
            <button type="button" class="btn btn-secondary" (click)="revertBody()">Отменить</button>
          </div>
          <br/><br/>
          <button type="button" class="btn btn-success float-right" (click)="saveNewWelcomeBoards()">Сохранить</button>
          <button type="button" class="btn btn-secondary float-right" (click)="revertAllChanges()">Отменить</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Редактировать информацию о контактах
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Редактировать документы
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
